Assets/RUIS/Schemas/display.xsd.txt

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ruisystem.net/display"
	  xmlns:tns="http://ruisystem.net/display"
	  elementFormDefault="unqualified" attributeFormDefault="unqualified">
    <element name="ruisDisplay" type="tns:DisplayType"></element>
	
	<complexType name="DisplayType">
		<sequence>
			<element name="centerKeystone" type="tns:KeystoningCorners"/>
			<element name="leftKeystone" type="tns:KeystoningCorners"/>
			<element name="rightKeystone" type="tns:KeystoningCorners"/>
		</sequence>
	</complexType>

	<complexType name="KeystoningCorners">
		<sequence>
			<element name="topLeft" type="tns:Vector2"/>
			<element name="topRight" type="tns:Vector2"/>
			<element name="bottomRight" type="tns:Vector2"/>
			<element name="bottomLeft" type="tns:Vector2"/>
		</sequence>
	</complexType>

	<complexType name="Vector2">
		<attribute name="x" type="float" use="required" />
		<attribute name="y" type="float" use="required" />
	</complexType>
</schema>