Assets/RUIS/Schemas/inputManager.xsd.txt

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ruisystem.net/RUISInputManager"
	xmlns:tns="http://ruisystem.net/RUISInputManager"
	elementFormDefault="unqualified" attributeFormDefault="unqualified">
	  
	<element name="RUISInputManager" type="tns:RUISInputManagerType"/>
	
	<complexType name="RUISInputManagerType">
		<sequence>
			<element name="PSMoveSettings" type="tns:PSMoveSettingsType" maxOccurs="1"/>
			<element name="KinectSettings" type="tns:KinectSettingsType" maxOccurs="1"/>
			<element name="Kinect2Settings" type="tns:Kinect2SettingsType" maxOccurs="1"/>
			<element name="RazerSettings" type="tns:RazerSettingsType" maxOccurs="1"/>
			<element name="CoordinateSystemSettings" type="tns:CoordinateSystemSettingsType" maxOccurs="1"/>
		</sequence>
	</complexType>

	
	<complexType name="BooleanType">
		<attribute name="value" type="boolean" use="required" />
	</complexType>
	
	<complexType name="StringType">
		<attribute name="value" type="string" use="required" />
	</complexType>
	
	<complexType name="IntType">
		<attribute name="value" type="int" use="required" />
	</complexType>
	
	<complexType name="FloatType">
		<attribute name="value" type="float" use="required" />
	</complexType>
	
	<complexType name="TranslateType">
		<attribute name="x" type="float" use="required" />
		<attribute name="y" type="float" use="required" />
		<attribute name="z" type="float" use="required" />
	</complexType>
	
	<complexType name="PSMoveSettingsType" >
		<sequence>
			<element name="enabled" type="tns:BooleanType"/>
			<element name="ip" type="tns:StringType"/>
			<element name="port" type="tns:IntType"/>
			<element name="autoConnect" type="tns:BooleanType"/>
			<element name="enableInGameCalibration" type="tns:BooleanType"/>
			<element name="maxControllers" type="tns:IntType"/>
		</sequence>
	</complexType>

	<complexType name="KinectSettingsType" >
		<sequence>
			<element name="enabled" type="tns:BooleanType"/>
			<element name="maxPlayers" type="tns:IntType"/>
			<element name="floorDetection" type="tns:BooleanType"/>
			<element name="jumpGestureEnabled" type="tns:BooleanType"/>
		</sequence>
	</complexType>

	<complexType name="Kinect2SettingsType" mixed="true">
		<sequence>
			<element name="enabled" type="tns:BooleanType"/>
			<element name="floorDetection" type="tns:BooleanType"/>
		</sequence>
	</complexType>
	
	<complexType name="RazerSettingsType">
		<sequence>
			<element name="enabled" type="tns:BooleanType"/>
		</sequence>
	</complexType>

	<complexType name="CoordinateSystemSettingsType">
		<all minOccurs="0">
			<element name="useMasterCoordinateSystem" type="tns:BooleanType" maxOccurs="1"/>
			<element name="masterCoordinateSystemSensor" type="tns:StringType" maxOccurs="1"/>
			<element name="switchMasterToAvailableSensor" type="tns:BooleanType" maxOccurs="1"/>
			<element name="coordinateSystemLocationOffset" type="tns:TranslateType" maxOccurs="1"/>
			<element name="coordinateSystemYRotationOffset" type="tns:FloatType" maxOccurs="1"/>
			<element name="setKinectOriginToFloor" type="tns:BooleanType" maxOccurs="1"/>
		</all>
	</complexType>
	
	
</schema>